doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/favicon/favicon.ico')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/base.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/layout.css')
    script(type='text/javascript', src='/node_modules/embittered/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/monokai_sublime.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/style.css')
    link(rel='stylesheet', href='/style.css')
  body(style='background: white;')

    script(type='text/javascript') hljs.initHighlightingOnLoad();


    .navbar.navbar-top(style='background: #444;')
      .container
        .sixteen.columns
          ul
            li
              a(href='/') GB          
            li  
              a(href='/gaman') GAMAN 
            li
              a(href='/expat') EXPAT
            li
              a(href='/tech') TECH  
            li 
              a(href='/about') ABOUT 

    .container
      .sixteen.columns
        block content

      include footer.md
